<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <header class="v-header container">
    <div class="fullscreen-video-wrap">
     <video autoplay muted loop id="myVideo">
        <source src={{bacgroundvideo}} type="video/mp4">

      </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
       <div class="wrap">
  </div>
  <div class ="dowing">
          <h1 class="control">Welcome E-sports Website</h1>
          <p >“Some seek the comfort of their therapist's office, other head to the corner pub and dive into a pint, but I chose running as my therapy”</p>
    <!--  <a class="btn">Sign in</a>
          <a class="btn">Sign up</a> -->
          <button class="bttn" onclick="document.getElementById('id01').style.display='block'" style="width:auto; margin-right:10px;">Login</button>
          
          <!-- <button class="btn ">sign up</button> -->

    <div id="id01" class="modal">
      
      <form class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <h3>Login Option</h3>
        </div>

        <div class="container">
          <!-- <label for="uname"><b>Username</b></label> -->
          <input type="text" placeholder="Enter Username" required   #username>

          <!-- <label for="psw"><b>Password</b></label> -->
          <input type="password" placeholder="Enter Password" required  #password>
          <!-- <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label> -->
            
          <button class="bttn" type="submit" (click) = "foo(username,password)">Login</button>
        </div>
      </form>
    </div>
        <!-- <button class="bttn" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign up</button> -->


</div>
</div>
  </header>
  <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
var modal1 = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal1) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>

